*{
    margin: 0;
    padding: 0;
}
.nav-bar{
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: rgb(35, 241, 35);
    height: 80px;
    /* color: black; */
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: 2%; */
}
.logo img{
    width: 75px;
    height: 75px;
    cursor: pointer;
}
.logo .name{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    line-height: 70%;
    font-weight: 700;
    cursor: pointer;
}
.menu{
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
}
.menu li{
    list-style: none;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;

}
/* .search-bar{
    margin-top: 18px;
    justify-content: center;
    align-items: center;
}
.search-bar input{
    width: 300px;
    height: 30px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border: none;
    outline: none;
    padding: 5px;
    padding-left: 15px;
    border-radius: 20px;
    font-weight: 500;
}*/


.login-signup{
    /* padding-right: 2%; */
    margin-right: 18px;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}
.login-signup button{
    width: 125px;
    height: 50px;
    border-radius: 75px;
    background-color: white;
    color: black;
    border: 1px solid #7a7a7a;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}

/* .chat{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    cursor: pointer;
} */
.menu li hr{
    border: none;
    width: 100%;
    height: 3px;
    border-radius: 10px;
    background-color: rgb(221, 119, 10);
}